html {
  font-family: "Vollkorn", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
